@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* root = variável de escopo global */

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #AD88C6;
    --cor-hover: #7469B6;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    /* os elementos não vão estourar a caixa do elemento pai body */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho .menu {
    display: flex;
    gap: 5em;
}

.cabecalho .link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho .link:hover {
    color: var(--cor-hover);
}

.apresentacao {
    padding: 3% 10%;
    display: flex;
    /* display flex ---> coloca todos os elementos em linha */
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao .conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.apresentacao .titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao .texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.25em;
}

.apresentacao .links .subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

/* classe do "a", elemento pai dos elementos img e nome da rede social */
.apresentacao .links .navegacao {
    display: flex;
    justify-content: center;
    gap: 1em;
    border-radius: 0.5em;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 0.5em;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.8em 0;
    /* vertical e horizontal */
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao .links .navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao .imagem {
    width: 40%;
    /* em relação à tag pai (apresentação) */
    border-radius: 5%;
    transition: all 0.5s;
}

.apresentacao .imagem:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(189, 141, 222, 0.5));
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 1em;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho .menu {
        /* tag pai dos a */
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        /* inverte a posição dos elementos verticalmente */
        padding: 5%;
    }

    .apresentacao .conteudo {
        width: auto;
        /* respeita o padding do elemento pai (apresentação) */
    }
}